<nav class="navbar navbar-expand-sm bg-color navbar-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav col-sm10" class="smooth-scroll list-unstyled">
        
       <li class="nav-item">
              <a class="nav-link" id="menu-selector" href="../">Inicio</a>
          </li>
        <!---<li class="nav-item">
          <a class="nav-link" id="menu-selector" href="#us">Nosotros</a>
        </li>--->
        <li class="nav-item">
          <a class="nav-link" id="menu-selector" href="#menu">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="menu-selector" href="#contacto">Contacto</a>
          
        </li>    
        <li class="nav-item">
            <a class="nav-link" id="menu-selector" href="#galeria">Galeria</a>
        </li>
      </ul>
    </div>
    
    </nav>
    
  
    


