<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    </head>

    <body>
        
        <% include ../partials/nav.ejs %>  
        
            <div class="container" style="margin-top:30px">
              <div class="row">
                </div>
                <div class="col-sm-12">
                  <h2>TITLE HEADING</h2>
                  <h5>Title description, Dec 7, 2017</h5>
                  <img src="../horarios.jpg" class="horariosImg">
                  <p>Some text..</p>
                  <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                  <br>
                  <h2>Ubicacion</h2>
                  <img src="../menuImg.jpg" class="menuImg">
                  <p>Some text..</p>
                  <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
              </div>
            </div>
            
            <% include ../partials/footer.ejs %>  
      </body>
        
  